html{
    background-image:url("../images/bg.jpg");
    width: 1200px;
    height: 600px;
}
.log_form{
    position: absolute;
    background-color: #3498DB;
    margin-left: 500px;
    margin-top: 150px;
    width: 500px;
    height: 350px;
    border-radius: 5px;

}
form{
    margin: 10px;
    padding: 0px;
    margin-top: 30px;
    margin-left: 60px;
}
form div{
    margin-top: 20px;
}
form div .error{
    display: none;
}
form #msg input{
    border-radius: 5px;
    width: 250px;
}
.code input{
    width: 80px;
}
#vertify_code{
    height: 40px;
    width: 90px;
    margin-left: 50px;
    display: inline;
    letter-spacing:8px;
}
.change{
    display: block;
    margin-left: 170px;
}
.submit{
    margin: 0px;
    padding: 0px;
    background-color: #71dd8a;
    margin-left: 65px;
    width: 160px;
    height: 30px;
    border-radius: 3px;
}
#information {
    margin-left: 160px;
    margin-top: 10px;
}
#information a{
   color: red;
}